@font-face {
    font-family: Monu;
    src: url('MonumentExtended-Regular.woff2');
}

@font-face {
    font-family: gil;
    src: url('Gilroy-Regular.woff2');
}

@font-face {
    font-family: tiny;
    src: url("Tiny5-Regular.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

html,
body {
    width: 100%;
    height: 100%;

}

main {
    background: url('background.webp');
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 2px;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #000;

}

header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

nav {
    border-top: white 3px solid;
    border-bottom: white 3px solid;
    width: 100;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

nav a {
    font-family: gil;
    color: white;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    border: 1px solid white;
    text-decoration: none;
    font-weight: 600;
}

#logo {
    margin-right: 90px;
    height: 100%;
    width: 50%;
    text-align: center;
    color: white;
    font-family: tiny;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

#head-main {
    width: 100%;
    height: calc(100% - 70px);
    background:url('background3.png');
    display: flex;
}

#hleft {
    background-color: #000000a1;
    flex-direction: column;
    width: 50%;
    height: 100%;
    color: white;
    font-family: gil;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 13vh;
}

#hleft h1 {
    font-size: 4vw;
}

#hleft h2 {
    font-size: 3vw;
}

#hleft h3 {
    font-size: 3.5vw;
}


#downloadbtn {
    font-family: tiny;
    color: black;
    font-size: 25px;
    background-color: white;
    width: 100%;
    height: 8vh;
    border-radius: 0px 50px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hright {
    width: 50%;
    height: 100%;
    background-color: #000000a1;
    /* background-color: lightsalmon; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    width: 350px;
    height: 350px;
    background-color: black;
    border-radius: 50%;
    background: url('tusharpic.webp');
    background-position: center;
    background-size: cover;
    border: 10px white solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linx {
    opacity: 0;
    position: absolute;
    width: 130%;
    height: 30px;

}

#linx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vw;
    opacity: 0;
}

#liny {
    opacity: 0;
    position: absolute;
    width: 130%;
    height: 50px;
    rotate: 90deg;
}

#liny {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vw;

}
#liny i:hover {
    color: white;
    background-color: blueviolet;
}
#linx i:hover {
    color: white;
    background-color: blueviolet;
}
#liny i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: aliceblue;
    border: black 3px solid;
    rotate: -90deg;
    color: black;
}
#linx i {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: aliceblue;
    border: black 3px solid;
}

#mid {
    width: 100%;
    height: fit-content;
    background: beige;
    overflow: hidden;
}

#uppertext {
    width: 100%;
    font-family: tiny;
    text-align: center;
}

.elem {
    border-radius: 20px;
    border: 5px black solid;
    width: 35vw;
    height: 300px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.innerelem {
    width: 85%;
    height: 70%;
    border: 5px black solid;
    background-color: black;
}

.innerelem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;

}

.innerelem img:hover {
    opacity: 1;
    transition-timing-function: ease;
    transition: all ease-in-out 0.5s;
}

.gola {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin-top: 30px;
}

#first {
    position: relative;
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texty {
    position: absolute;
    top: 37%;
    left: 15%;
    font-size: 30px;
    color: white;
    font-family: gil;
    z-index: 1;
}

#second {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#third {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#uppertext h1 {
    font-size: 4vw
}

.text {
    width: 50%;
    font-family: Monu;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 40px;
}


footer {
    width: 100%;
    height: 20vh;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

#name {

    font-family: Monu;
}

#name h1 span {
    color: violet;
    font-size: 13px;
}

#contact {
    font-family: gil;
}
#navigation{
    background-color: black;
    display: none;
    color: white;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    font-size: 30px;
    position: relative;

}
.ri-close-circle-line{
    display: none;
}
#nav-menu{
    display: none;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-family: gil;
    width: 100%;
    height: 200px;
    font-size: 10vw;
    font-weight: 900;
    text-align: center;
    background-color: white;
}
#resmenu a{
    color: black;
}
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#skills {
    width: 100%;
    height: 100%;
    font-family: gil;
    background: beige;
    text-align: center;
}
#skills h2 {
    font-size: 4.5em;
    margin: 20px;
    font-family: tiny;

}

.skill-box {
    display: inline-block;
    width: 400px;
    margin: 15px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.skill-box img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.skill-box h3 {
    font-size: 1.2em;
    margin: 0;
}

@media (max-width:600px) {
    #navigation{display: flex;}
    nav{
        display: none;
    }
    .skill-box {
        display: inline-block;
        width: 200px;
        margin: 15px;
        padding: 10px;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
    }
    header {
        width: 100vw;
        height: 100%;
        flex-direction: column-reverse;
    }
    #logo {
        width: 40%;
        color: white;
        font-family: tiny;
        font-size: 10vw;
    }
    
    #head-main {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
    }
    #skills {
        width: 100%;
        height: fit-content;
    }
    #hleft {
       text-align: center;
        width: 100%;
        height: 50%;
        line-height: 40px;
    }
    
    #hleft h1 {
        font-size: 14vw;
    }
    
    #hleft h2 {
        font-size: 6vw;
    }
    
    #hleft h3 {
        font-size: 7.5vw;
    }
    
 
    
    #hright {
        width: 100%;
        height: 50%;
    }
    #image {
        width: 200px;
        height: 200px;
    }
    
    #liny i {
       font-size: 9vw;
    }
    #linx i {
       font-size: 9vw;
    }
    
    #mid {
        width: 100%;
        height: fit-content;
        background: beige;
        overflow: hidden;
    }
    
    #uppertext {
        width: 100%;
        font-family: tiny;
        text-align: center;
    }
    #mid #uppertext h1{
        margin-top: 15px;
        font-size: 14vw;
    }
    .elem {
        width: 100%;
        height: 200px;
    }
    
    .innerelem {
        width: 85%;
        height: 70%;
        border: 5px black solid;
        background-color: black;
    }
    
    .innerelem img {
       
        opacity: 9;
    
    }
    
    
    #first {
        flex-direction: column;
    }
    
    #second {
        flex-direction: column-reverse;
    }
    
    #third {
        flex-direction: column;
       
    }

    
    .text {
        margin-top: 6vw;
        text-align: center;
        width: 100%;
        font-family: Monu;
        font-weight: 100;
        letter-spacing: 0px;
        line-height: 4vh;
    }
    
    .lean img {
        width: 90%;
        height: 70%;
    }
    footer {
        text-align: center;
        width: 100%;
        height: 30vh;
        flex-direction: column-reverse;
        padding: 0px ;
    }
    }
    
  
    
    #name {
        font-family: Monu;
    }
    
    #name h1 span {
        color: violet;
        font-size: 13px;
    }
    
    #contact {
        font-family: gil;
    }
    .navigation{
        color: white;
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: space-between;
        align-items: center;
        padding: 14px;
        font-size: 30px;
    
    }
    
    
